<h1 align='center'><font color='brown'> Task_5
<h5 align='center'><font color='brown'> (Cleaning & Git)

# **<font color='red'>Cleaning Part**

# [**Dataset**](https://drive.google.com/file/d/1lOxdsLjcMKk7u0abP7efKCnwiosBq0lc/view?usp=sharing)

In [116]:
# import your libraries here

import pandas as pd
import numpy as np

In [117]:
# load the dataset & show first 5 rows

from google.colab import files
uploaded=files.upload()

Saving Bank_Customer.csv to Bank_Customer.csv

In [118]:
bcd=pd.read_csv('Bank_Customer.csv')
bcd.head()

    age           job  marital  education  balance duration
0  58.0    management  married   tertiary     2143      261
1  44.0    technician   single  secondary       29      151
2  33.0  entrepreneur  married  secondary        2       76
3  47.0   blue-collar  married    unknown     1506       92
4  33.0       unknown   single    unknown        1      198

In [119]:
# have an overview about the data using .info()


bcd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1090 entries, 0 to 1089
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        1000 non-null   float64
 1   job        1090 non-null   object
 2   marital    1090 non-null   object
 3   education  1090 non-null   object
 4   balance    1090 non-null   int64
 5   duration   1090 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 51.2+ KB

In [120]:
# summarize what is wrong with your data !! (hint: Missing_values)
#there is 90 null values in age column
bcd['age'].isna().value_counts()

False    1000
True       90
Name: age, dtype: int64

# <font color='blue'>Dealing with missing values:
>## **hint**: Impute *NaN* in **`age`** column

>##### **BONUS**: solve it with two imputing ways.

In [121]:
# First Methodology:

bcd.dropna(inplace=True)

In [122]:
# Second Methodology
bcd=bcd[bcd['age']>0]

# <font color='blue'>Run **`df.isna().sum()`** to make sure no more missing values.
>## **Hint**: Don't Forget those hidden ones.
use `.unique()` or `.value_counts()` for help.

In [123]:
bcd.isna().sum()

age          0
job          0
marital      0
education    0
balance      0
duration     0
dtype: int64

In [124]:
bcd['job'].value_counts()

blue-collar      292
technician       148
admin.           141
management       137
services         131
retired           47
entrepreneur      29
self-employed     26
unemployed        23
student           13
housemaid          9
unknown            4
Name: job, dtype: int64

In [125]:
bcd=bcd[bcd['job']!='unknown']
bcd['job'].value_counts()

blue-collar      292
technician       148
admin.           141
management       137
services         131
retired           47
entrepreneur      29
self-employed     26
unemployed        23
student           13
housemaid          9
Name: job, dtype: int64

In [126]:
bcd['marital'].value_counts()

married     636
single      218
divorced    142
Name: marital, dtype: int64

In [127]:
bcd['balance'].unique()

array([ 2143,    29,     2,  1506,   231,   447,   121,   593,   270,
         390,     6,    71,   162,   229,    13,    52,    60,     0,
         723,   779,    23,    50,  -372,   255,   113,  -246,   265,
         839,   378,    39, 10635,    63,    -7,    -3,   506,  2586,
          49,   104,   529,    96,  -171,  -364,  1291,  -244,   -76,
        -103,   243,   424,   306,    24,   179,   989,   249,   790,
         154,  6530,   100,    59,  1205, 12223,  5935,    25,   282,
        1937,   384,   582,    91,     1,   206,   164,   690,  2343,
         137,   173,    45,  1270,    16,   486,   152,   290,    54,
         -37,   101,   383,    81,  -674,    90,   128,   151,    61,
          30,   523,    31,    79,   -34,   448,   144,   351,   -67,
         262,    56,    26,     3,    41,     7,   105,   818,   -16,
        2476,  1185,   217,  1685,   802,    94,   517,   947,    42,
          37,    57,    22,     8,   293,   348,   -19,    -4,    18,
         139,  1883,   216,   782,   904,  1705,    47,   176,  1225,
          86,    82,   271,  1378,   184,  1357,    19,   434,    92,
        1151,    51,   214,  1161,   787,   253,   211,   235,  4384,
        4080,    53,  2127,   377,    73,   445,   307,   155,   400,
        1428,   219,   575,   298,  5699,   257,  -390,   330,   195,
         301,   -41,   483,   965,   324,   -69,   205,   278,  1065,
          34,  1033,  1467,   -12,   388,   294,  1827,   627,   315,
          66,    -9,   349,  3237,   275,   207,  2248,   428,   140,
         297,   279,   901,  2573,   143,   475,    70,   318,   742,
         236,   600,  -349,   183,  1078,   190,   319,  -185,   570,
         -62,   258,    76,   352,   368,   339,  1331,   672,    58,
         423,    28,   792,   408,   531,    62,  1234,   313,    89,
         129,   353,   851,   398,   193,  -358,   539,   490,   403,
         161,  2558,    98,   115,   436,   831,  -457,  1387, 24598,
        1022,    -2,   842,   693,  -333,  1533,    46,    44,  -100,
         510,   685,   187,   560,    12,  1068,   263,  1263,   126,
         230,   841,   308,   157,  1293,   122,   131,   393,   224,
         757,   245,  8486,   350,    20,  1667,   345,    10,   830,
         545,  8730,   477,     4,   283,    17,   141,  1927,   284,
        1660,   406,   -25,   182,  1169,    67,    77,    55,    72,
         163,     9,   375,  1142,  2102,  4325,  1680,   320,   469,
         530,   242,   367,   228, 45248,   -84,   310,   132,   797,
         274,  -109,   -60,   -11,  -509,  1640,   292,   109,  1044,
         983,   869,   668,   964,  1877,  1127,   871,   767,   209,
         110,   178,   -66,  5345,  -209,   -99,   276,  -170,   946,
        1297,  -331,    15,   712,  5435,   507,   387,  1716,   167,
          40,   148,  1011,  1527,   744,   484,   136,  1335,   459,
         549,    83,   213,   203,   518,  3877,  1236,   756,  -144,
         505,    11,   639,   124,   107,   473,   372,   935,   -10,
        -106,   471,   778,   170,  3165,   204,  5431,  1759,  -125,
        5090,   573,  1602,  -137,   288,    99,  2298,   840,   358,
        -325,   -15,   581,  4070,    74,   450,   395,  -118,     5,
         285,   653,   918,   405,  1328,  3397,  2106,  2877,  2226,
        2880,    -5,   147,  -119,  1852,   533,    21,  2434,  4246,
          85,  -184,   660,  -183,  1144,    69,   220,   332,   240,
         898,   123,   252,    65,  -366,   221,   312,  -322,  -150,
        1349,   281,  1259,   848,   200,   201,    43,  -173,   389,
         215,  -131,   783,    80,   244,   948,   710,  1631,   -48,
        2142,   401,  -497,   369,    78,   226,   503,   125,   419,
         322,   303,   607,   579,  3047,    68,   251,   688,   364,
         325,   198,   376,   550,   512,   807,   248,  1211,    88,
          32,   254,   569,  3754,  6920,  -421,   402,   800,   239,
         421,   289,   156,   166,   103,  -454,  1001,  1617,   210,
         185,   836,   407,  2303,   305,   238,   222,   414,   223,
         197,  -251,  -139,   733,    97,   435,  1109,   404,   981,
          95,   302,  -290,   259,   527,   102,   872,   386,  -329,
        -174,  -532,    64,  1415,  -196,   716,  -203,   342,  -248,
         370,   594,   208,   563,   392,   165,  1265,   118,  3659,
         673,   273,   327,   299,   552,   344,   266,   233,  -291,
         309,   202,   326,  2100,   192,   442,   267,  7624,  1013,
        8823, 58544,   169,   444,   542,  -205,   112,  1268,   -98,
         -90,   -94,  -345,  -932,   134,   -45,   564,    -6,   528,
        1481,  2019,  1855,    87,   644,   225,   502,   -32,   106,
         906,   852,  1496,   703,   732,   268,  -825,   803,   188,
        1466,   159,   849,    -1,  1377])

In [128]:
bcd=bcd[bcd['balance']>0]
bcd

      age           job  marital  education  balance duration
0    58.0    management  married   tertiary     2143      261
1    44.0    technician   single  secondary       29      151
2    33.0  entrepreneur  married  secondary        2       76
3    47.0   blue-collar  married    unknown     1506       92
5    35.0    management  married   tertiary      231      139
..    ...           ...      ...        ...      ...      ...
995  37.0   blue-collar  married    primary      310      474
996  34.0        admin.  married  secondary      475      559
997  43.0   blue-collar  married    primary       61      261
998  49.0      services  married  secondary     1377     1101
999  33.0    technician   single  secondary       56      236

[815 rows x 6 columns]

# <font color='blue'>Check for duplicates if exist.

In [129]:
bcd.duplicated().sum()

0

# <font color='blue'>Go on your work by cleaning the **`duration`** column.

In [130]:
bcd['duration'].unique()

array(['261', '151', '76', '92', '139', '217', '380', '50', '55', '222',
       '137', '517', '71', '174', '353', '98', '38', '219', '262', '164',
       '160', '342', '296', '127', '348', '225', '230', '208', '336',
       '242', '577', '180', '22', '1492', '616', '266', '104', '13',
       '185', '1778', '812', '391', '357', '91', '528', '273', '158',
       '177', '258', '172', '154', '291', '181', '176', '211', '349',
       '193', '212', '20', '1042', '246', '529', '1467', '1389', '188',
       '48', '213', '583', '221', '426', '287', '101', '197', '124',
       '229', '190', '21', '514', '849', 'zero', '144', '286', '107',
       '247', '518', '178', '439', '79', '120', '175', '61', '579', '677',
       '345', '100', '541', '163', '301', '46', '204', '157', '243',
       '186', '85', '114', '57', '238', '93', '128', '303', '558', '270',
       '228', '99', '240', '673', '250', '252', '138', '130', '412',
       '179', '19', '458', '717', '313', '683', '1077', '416', '146',
       '167', '315', '140', '346', '142', '67', '309', '248', '256', '82',
       '477', '611', '381', '42', '251', '408', '215', '216', '366',
       '210', '168', '410', '1419', '125', '27', '730', '746', '121',
       '40', '206', '702', '117', '232', '39', '282', '714', '227', '119',
       '361', '73', '350', '332', '113', '132', '58', '89', '152', '110',
       '10', '118', '143', '234', '75', '189', '621', '310', '156', '2',
       '742', '226', '362', '200', '126', '65', '267', '209', '205', '83',
       '106', '108', '311', '214', '453', '386', '241', '224', '148',
       '196', '111', '231', '316', '425', '135', '325', '503', '95',
       '421', '808', '198', '404', '396', '88', '379', '102', '306',
       '218', '54', '344', '195', '652', '184', '235', '133', '318',
       '260', '437', '402', '501', '1201', '253', '1030', '149', '769',
       '199', '424', '43', '203', '483', '259', '90', '505', '623', '496',
       '276', '87', '744', '765', '150', '112', '136', '1623', '354',
       '187', '451', '159', '409', '608', '145', '53', '134', '678',
       '182', '162', '699', '97', '1677', '283', '323', '47', '30', '448',
       '169', '278', '374', '233', '153', '80', '918', '269', '371',
       '288', '427', '604', '129', '191', '26', '289', '161', '268',
       '383', '440', '1297', '69', '105', '524', '96', '155', '352',
       '390', '526', '1906', '407', '339', '285', '389', '147', '703',
       '170', '802', '304', '201', '328', '116', '530', '312', '392',
       '284', '507', '684', '333', '322', '202', '739', '308', '320',
       '245', '400', '378', '1597', '60', '109', '31', '593', '631', '32',
       '1529', '254', '314', '597', '207', '305', '122', '66', '343',
       '249', '406', '220', '51', '479', '35', '720', '141', '395', '629',
       '502', '446', '131', '275', '68', '852', '923', '294', '74', '520',
       '293', '485', '732', '359', '1521', '800', '615', '327', '236',
       '492', '1138', '123', '173', '786', '463', '192', '401', '435',
       '223', '274', '49', '376', '36', '866', '56', '1581', '279', '516',
       '171', '614', '650', '474', '559', '1101'], dtype=object)

In [131]:
bcd=bcd[bcd['duration']!='zero']

In [132]:
bcd['duration']=bcd['duration'].astype('int')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [133]:
bcd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 807 entries, 0 to 999
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        807 non-null    float64
 1   job        807 non-null    object
 2   marital    807 non-null    object
 3   education  807 non-null    object
 4   balance    807 non-null    int64
 5   duration   807 non-null    int64
dtypes: float64(1), int64(2), object(3)
memory usage: 44.1+ KB

# <font color='blue'>Show your data in the given form below:
> ## **Note:** **`age`** represents the average_age
> ## **Note:** **`duration`** represents the max_duration
_______________

![2.PNG]()

In [134]:
bcd.groupby('job').mean().drop(columns=['balance'])

                     age    duration
job
admin.         41.330508  261.118644
blue-collar    43.441048  264.165939
entrepreneur   42.769231  258.000000
housemaid      44.750000  331.000000
management     42.913793  250.767241
retired        54.641026  293.615385
self-employed  43.850000  231.050000
services       41.592233  301.359223
student        28.500000  214.500000
technician     43.091667  280.316667
unemployed     42.875000  320.875000

# <font color='blue'>Show the table of the previous question after sorting it by **`duration`**:

In [135]:
bcd.sort_values(by=['duration'],inplace=True)
bcd

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

      age          job  marital  education  balance  duration
287  50.0   technician   single   tertiary      339         2
272  57.0   technician  married  secondary     1078        10
57   47.0  blue-collar  married    unknown      306        13
706  44.0   technician   single    unknown       78        13
538  34.0  blue-collar  married    unknown      245        13
..    ...          ...      ...        ...      ...       ...
694  36.0   technician  married  secondary      368      1597
446  39.0   technician   single    unknown    45248      1623
474  34.0       admin.  married  secondary      869      1677
59   46.0     services  married    primary      179      1778
600  38.0  blue-collar  married  secondary      384      1906

[807 rows x 6 columns]

# <font color='blue'>Use **`qcut`** method on **`age`** column to create a new column called **`age_divided`** that divides the customers into two categories (**`young_customers`** and **`old_customers`**):

In [136]:
bcd['age_divided']=pd.qcut(bcd['age'],2,labels=["young_customers", "old_customers"])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [137]:
bcd

      age          job  marital  education  balance  duration      age_divided
287  50.0   technician   single   tertiary      339         2    old_customers
272  57.0   technician  married  secondary     1078        10    old_customers
57   47.0  blue-collar  married    unknown      306        13    old_customers
706  44.0   technician   single    unknown       78        13    old_customers
538  34.0  blue-collar  married    unknown      245        13  young_customers
..    ...          ...      ...        ...      ...       ...              ...
694  36.0   technician  married  secondary      368      1597  young_customers
446  39.0   technician   single    unknown    45248      1623  young_customers
474  34.0       admin.  married  secondary      869      1677  young_customers
59   46.0     services  married    primary      179      1778    old_customers
600  38.0  blue-collar  married  secondary      384      1906  young_customers

[807 rows x 7 columns]

# <font color='blue'>Show the **average_age** and **max_duration** of the divided customers like this:
>## **hint:** Use **`groupby`** method:
![3.PNG]()

In [138]:
bcd.groupby('age_divided').mean().drop(columns=['balance'])

                       age    duration
age_divided
young_customers  35.481663  268.941320
old_customers    50.884422  271.889447

# **<font color='red'>Git Part**


# 1. What is Git?


> a) A nickname for GitHub

> b) A remote repository platform

> c) A programming language

> d) A version control system

In [139]:
#d

# Why we use the Version Contol System :)

In [140]:
#when we work in a team on the same project and want to make different changes on it


# 2. Which command should you use to initialize a new Git repository?


> a) git bash

> b) git install

> c) git init

> d) git start

In [141]:
#c


# 3. After you initialize a new Git repository and create a file named **`git-quiz.html`** , which of the following commands will **NOT** work if issued?


> a) **`git add`** git-quiz.html

> b) **`git status`**

> c) **`git add .`**

> d) **`git commit -m`** "git quiz web file added"

In [142]:
#c

# **<font color='red'>Problems**

[**Problem_1**](https://codeforces.com/problemset/problem/282/A)

In [143]:
# problem_link
# https://codeforces.com/contest/282/submission/170982477

[**Problem_2**](https://codeforces.com/group/T3p02rhrmb/contest/324959/problem/G)

In [144]:
# problem_link
n=int(input())
print(int(n*(n+1)/2))

10
55

# Use git to upload this notebook on Gitub and put the link:

In [145]:
!git init

Reinitialized existing Git repository in /content/IEEE-task6/IEEEt-ask-6/IEEEt-ask-6/.git/

In [146]:
!git clone "https://github.com/ahmedbedair2001/bankcustomer.git"

Cloning into 'bankcustomer'...
remote: Enumerating objects: 3, done.
remote: Counting objects: 100% (3/3), done.
remote: Total 3 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (3/3), done.

In [156]:
!git config --global user.email 'ahmedbedair33@gmail.com'
!git config --global user.name 'ahmedbedair2001'

In [160]:
%cd bankcustomer

/content/IEEE-task6/IEEEt-ask-6/IEEEt-ask-6/bankcustomer

In [168]:
!git commit -m "Done"

On branch main
Your branch is up to date with 'origin/main'.

nothing to commit, working tree clean

In [165]:
!git push

fatal: could not read Username for 'https://github.com': No such device or address